* {
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

body {
  background-color: #222;
  color: #cccccc;
  font-family: Source Code Pro, Lucida Console, monospace;
}

.overlay {
  display: none;
  position: fixed;
  top: 40%;
  left: 10%;
  min-width: 80%;
  min-height: 100px;
  background-color: rgba(10, 10, 10, 0.8);
  color: #eee;  
  box-shadow: 0 0 100px tomato;
}

.dismiss-overlay {
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 5em;
  margin-top: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  box-shadow: inset 0 0 10px #ccc;
}

header {
  background-color: #222;
  height 100%;
}

.clear {
  clear: both;
}

.headline {
  font-size: 9em; 
}

.headline span {
  background-color: olivedrab;
  color: #222;
}

.secret{
  background-color: olivedrab;
  display: block;
  margin-left: 0;
  float: right;
  text-align: justify;
}
.text-window {
  width: 100%;
  font-size: 3rem;
}

.text-window span {
  font-size: 3rem;
  float: left;
  margin-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: block;
}

textarea {
  margin: 15px 0px;
  font-size: 2rem;  
  background-color: #222;
  color: olivedrab;
  float: right;
  bottom: 0;
  border: 0;
  height: 20%;
  width: 50%;
}

.control {
  background-color: #021002;
  max-width: 50%;
  float: left;
  clear: left;
  padding-left: 5%;
  line-height: 200%;
}
.control textarea {
  line-height: 140%;
  font-size: 3rem;
  width: 9rem;
  height: 4.5rem;
  float: none;
  text-align: center;
  overflow: hidden;
  margin-top: 10px;
}

.control button {
  color: #222;
  width: 80%;
  margin-left: 25%;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 20%;
}


#plaintext-div{
float: left;
background-color: #021002;
top: 200px;
}

#ciphertext-div{
float: right;
background-color: #100202;
top: -200px;
}



